body {
  background-color: #22396a;
  color: white;
  line-height: 10px;
}
#home {
}
h1 {
  text-align: center;
}
h3 {
  color: green;
}
h5 {
  text-align: center;
}
p {
  font-size: 12px;
  line-height: 20px;
}
.size {
  font-size: 15px;
}
a {
  color: red;
  font-size: 12px;
}
.margin {
  margin-left: 25px;
  text-align: center;
}
footer {
  height: 40px;
  text-align: center;
  background-color: darkblue;
  margin-bottom: 50px;
}
